// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


body {
    font-family: 'Nunito', sans-serif;
    border-top: rgb(85, 80, 244) solid 5px;
}

.nav {
    background-color: #e5f1ff;
}

.btn-primary {
    background-color: rgb(200, 210, 246);
}

[data-letters]:before {
    content: attr(data-letters);
    display: inline-block;
    font-size: 0.9em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 50%;
    background: rgb(85, 80, 244);
    vertical-align: middle;
    margin-right: 1em;
    color: white;
}

.card {
    border-radius: 10px;
}

.stage {
    background-color: rgb(242, 242, 242);
    border: none;
    border-bottom: 1px solid rgb(242, 242, 242);
}

.stage-container {
    width: auto !important;
}

.task-container {
    max-height: 70vh;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
}

.badge {
    background-color: rgb(224, 225, 230);
    color: rgb(152, 155, 166);
}

.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 14px;
    line-height: 0;
    border: 0;
    color: rgb(85, 80, 244);
}

.task-item{
    .toolbar {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s, opacity 0.1s linear;
    }
    &:hover {
        .toolbar {
            visibility: visible;
            opacity: 1;
        }
    }
}

